@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(83, 83, 83, 0.27);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(10px);
    z-index: 100;
    height: 80px;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 60px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 0 10px;
    transition: color 0.12s ease-out;
}

ul li a:hover {
    color: #0790ba;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 25px;
    color: #fff;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links.open {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    z-index: 90;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 20px;
    }

    nav {
        height: 70px;
        padding: 10px 15px;
    }

    .logo-container img {
        height: 50px;
    }

    .navbar-links.open {
        display: block;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 10px;
        z-index: 90;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    text-align: center;
    padding-bottom: 20px;
}

.welcome-text {
    font-size: 56px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    font-weight: 500;
}

.shop-container {
    margin-top: 30px;
}

.shop-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #28e13a;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.2s;
}

.shop-button:hover {
    background-color: #00ff37;
}

.server-info {
    font-size: 18px;
    margin: 20px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.35);
}

.socials {
    margin-top: 30px;
}

.socials-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}

.socials-button.youtube {
    background-color: #FF0000;
    transition: box-shadow 0.1s ease;
}

.socials-button.youtube:hover {
    box-shadow: 0 0 10px #c84646;
}

.socials-button.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition: box-shadow 0.1s ease;
}

.socials-button.instagram:hover {
    box-shadow: 0 0 10px #df0768;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background6.jpg);
    background-size: cover;
    filter: opacity(0.8);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.tfp-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(17, 17, 17, 0.6); 
    backdrop-filter: blur(5px);  
    display: flex;
    justify-content: center;
    align-items: center;
}

.tfp-banner a {
    text-decoration: none;
    color: white;
}

.tfp-banner p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

